<%- model_class = Thirdpartcode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Thirdpartcode %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_thirdpartcode_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@thirdpartcodes_grid) do |g|

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'business_id'

    g.column name: model_class.human_attribute_name(:supplier_id), attribute: 'name', model: 'Supplier' do |thirdpartcode|
      thirdpartcode.supplier.try :name
    end

    g.column name: model_class.human_attribute_name(:specification_id), attribute: 'name', model: 'Specification' do |thirdpartcode|
      thirdpartcode.specification.try :name
    end

    g.column name: model_class.human_attribute_name(:external_code), attribute: 'external_code'

    g.column do |thirdpartcode|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.destroy', :default => t("helpers.links.destroy")), thirdpartcode_path(thirdpartcode), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, thirdpartcode)
    end
  end 
%>
