<%- model_class = Order -%>
<div class="page-header">
  <h1><%=@keyclientorder.keyclient_name%>--<%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Order %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_keyclientorder_order_path(@keyclientorder),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>




<%= grid(@orders_grid) do |g|
    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: model_class.human_attribute_name(:customer_name), attribute: 'customer_name'

    g.column name: model_class.human_attribute_name(:customer_unit), attribute: 'customer_unit'

    g.column name: model_class.human_attribute_name(:customer_tel), attribute: 'customer_tel'

    g.column name: model_class.human_attribute_name(:customer_phone), attribute: 'customer_phone'

    g.column name: model_class.human_attribute_name(:province), attribute: 'province'

    g.column name: model_class.human_attribute_name(:city), attribute: 'city'

    g.column name: model_class.human_attribute_name(:customer_address), attribute: 'customer_address'

    g.column name: model_class.human_attribute_name(:customer_postcode), attribute: 'customer_postcode'

    g.column name: model_class.human_attribute_name(:customer_email), attribute: 'customer_email'

    g.column name: model_class.human_attribute_name(:total_weight), attribute: 'total_weight'

    g.column name: model_class.human_attribute_name(:total_price), attribute: 'total_price'

    g.column name: model_class.human_attribute_name(:total_amount), attribute: 'total_amount'

    g.column name: model_class.human_attribute_name(:transport_type), attribute: 'transport_type',custom_filter: Order::TRANSPORT_TYPE.invert do |order| 
      order.transport_type_name
    end

    g.column name: model_class.human_attribute_name(:transport_price), attribute: 'transport_price'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: Order::STATUS.invert do |order| 
      order.status_name
    end

    g.column name: model_class.human_attribute_name(:buyer_desc), attribute: 'buyer_desc'

    g.column name: model_class.human_attribute_name(:seller_desc), attribute: 'seller_desc'

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'name', model: 'Business' do |order|
      order.business.try :name
    end

    g.column name: model_class.human_attribute_name(:storage_id), attribute: 'name', model: 'Storage' do |order|
      order.storage.try :name
    end

    g.column name: model_class.human_attribute_name(:unit_id), attribute: 'name', model: 'Unit' do |order|
      order.unit.try :name
    end

    g.column name: model_class.human_attribute_name(:keyclientorder_id), attribute: 'batch_no', model: 'Keyclientorder' do |order|
      order.keyclientorder.try :batch_no
    end

    g.column name: model_class.human_attribute_name(:is_shortage), attribute: 'is_shortage',custom_filter: Order::SHORTAGE_TYPE.invert do |order| 
      order.shortage_type_name
    end


    g.column do |order|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_keyclientorder_order_path(@keyclientorder,order), :class => 'btn btn-xs btn-primary' if can? :update, order) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")),
                      keyclientorder_order_path(@keyclientorder,order),
                       :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, order)
      end
  end 
%>