<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Order %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_keyclientorder_order_path(@keyclientorder),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>




<%= grid(@orders_grid) do |g|
    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: model_class.human_attribute_name(:order_type), attribute: 'order_type'

    g.column name: model_class.human_attribute_name(:has_invoice), attribute: 'has_invoice'

   
    g.column name: model_class.human_attribute_name(:cust_name), attribute: 'cust_name'

    g.column name: model_class.human_attribute_name(:cust_mobilephone), attribute: 'cust_mobilephone'

    g.column name: model_class.human_attribute_name(:cust_phone), attribute: 'cust_phone'

    g.column name: model_class.human_attribute_name(:cust_address), attribute: 'cust_address'

    g.column name: model_class.human_attribute_name(:cust_postcode), attribute: 'cust_postcode'

    g.column name: model_class.human_attribute_name(:cust_email), attribute: 'cust_email'

    g.column name: model_class.human_attribute_name(:good_weight), attribute: 'good_weight'

    g.column name: model_class.human_attribute_name(:good_sum), attribute: 'good_sum'

    g.column name: model_class.human_attribute_name(:good_amount), attribute: 'good_amount'

    g.column name: model_class.human_attribute_name(:trans_type), attribute: 'trans_type'

    g.column name: model_class.human_attribute_name(:trans_sum), attribute: 'trans_sum'

    g.column name: model_class.human_attribute_name(:pay_type), attribute: 'pay_type'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status'

    g.column name: model_class.human_attribute_name(:buyer_desc), attribute: 'buyer_desc'

    g.column name: model_class.human_attribute_name(:seller_desc), attribute: 'seller_desc'

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'name', model: 'Business' do |order|
      order.business.try :name
    end

    g.column name: model_class.human_attribute_name(:storage_id), attribute: 'name', model: 'Storage' do |order|
      order.storage.try :name
    end

    g.column name: model_class.human_attribute_name(:unit_id), attribute: 'name', model: 'Unit' do |order|
      order.unit.try :name
    end

    g.column name: model_class.human_attribute_name(:keyclientorder_id), attribute: 'batch_id', model: 'Keyclientorder' do |order|
      order.keyclientorder.try :batch_id
    end


    g.column name: model_class.human_attribute_name(:status), attribute: 'status'

    g.column do |order|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_keyclientorder_order_path(@keyclientorder,order), :class => 'btn btn-xs btn-primary' if can? :update, order) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")),
                      keyclientorder_order_path(@keyclientorder,order),
                       :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, order)
      end
  end 
%>