<%- model_class = Keyclientorder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Keyclientorder %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_keyclientorder_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@keyclientorders_grid) do |g|

    g.column name: model_class.human_attribute_name(:keyclient_name), attribute: 'keyclient_name'

    g.column name: model_class.human_attribute_name(:keyclient_addr), attribute: 'keyclient_addr'

    g.column name: model_class.human_attribute_name(:contact_person), attribute: 'contact_person'
    
    g.column name: model_class.human_attribute_name(:phone), attribute: 'phone'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:batch_id), attribute: 'batch_id'

    g.column name: model_class.human_attribute_name(:unit_id), attribute: 'name', model: 'Unit' do |keyclientorder|
      keyclientorder.unit.try :name
    end

    g.column name: model_class.human_attribute_name(:storage_id), attribute: 'name', model: 'Storage' do |keyclientorder|
      keyclientorder.storage.try :name
    end

    g.column do |keyclientorder|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_keyclientorder_path(keyclientorder), :class => 'btn btn-xs btn-primary' if can? :update, keyclientorder) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), keyclientorder_path(keyclientorder), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, keyclientorder)<< ' ' <<
        (link_to t('.pddetails', :default => t("helpers.links.pddetails")), keyclientorder_keyclientorderdetails_path(keyclientorder), :class => 'btn btn-xs btn-primary' if can? :details, keyclientorder)<< ' ' <<
        (link_to t('.custorders', :default => t("helpers.links.custorders")), keyclientorder_orders_path(keyclientorder), :class => 'btn btn-xs btn-primary' if can? :orders, keyclientorder)<< ' ' <<
        (link_to t('打印面单'), "/print/keytracking?id=#{keyclientorder.id}", target: '_blank',:class => 'btn btn-xs btn-info')
    end
  end 
%>
