<%- model_class = Shelf -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Shelf %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  shelf_import_shelves_path,
                  :class => 'btn btn-primary' %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_shelf_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= grid(@shelves_grid) do |g|
    g.column name: model_class.human_attribute_name(:barcode), attribute: 'barcode'

    g.column name: model_class.human_attribute_name(:area), model: 'Area', attribute: 'name' do |shelf|
      shelf.area.name if shelf.area
    end

    g.column name: model_class.human_attribute_name(:shelf_code), attribute: 'shelf_code'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:shelf_type), attribute: 'shelf_type',custom_filter: Shelf::SHELF_TYPE.invert do |shelf| 
      shelf.shelf_type_name
    end

    g.column do |shelf|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_shelf_path(shelf), :class => 'btn btn-xs btn-primary' if can? :update, shelf) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), shelf_path(shelf), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, shelf)
    end
  end 
%>
