<%- model_class = StockLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
</div>

<%= grid(@stock_logs_grid) do |g|

    g.column name: model_class.human_attribute_name(:username), attribute: 'name', model: 'User' do |stock_log|
        stock_log.user.try :name
      end

    g.column name: model_class.human_attribute_name(:operation), attribute: 'operation'

    g.column name: model_class.human_attribute_name(:amount), attribute: 'amount'

    # g.column name: model_class.human_attribute_name(:object_symbol), attribute: 'object_symbol'

    g.column name: model_class.human_attribute_name(:shelf_id), attribute: 'shelf_code', model: 'Stock.Shelf' do |stock_log|
        stock_log.stock.shelf.try :shelf_code
      end

    g.column name: model_class.human_attribute_name(:status), attribute: 'status'

    g.column name: model_class.human_attribute_name(:created_at), attribute: 'created_at' do |stock_log|
        stock_log.created_at.to_s(:db)
      end

    g.column name: model_class.human_attribute_name(:checked_at), attribute: 'checked_at' do |stock_log|
        stock_log.checked_at.try :to_s, :db
      end

  end 
%>