<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
<!--     <% if can? :new, Stock %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_stock_path,
                  :class => 'btn btn-primary' %>
    <% end %> -->
  </div>
</div>

<%= render :partial => 'stocks_grid' %>

