<%- model_class = Purchase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Purchase %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  purchase_import_purchases_path,
                  :class => 'btn btn-primary' %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_purchase_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@purchases_grid) do |g|
    g.column name: model_class.human_attribute_name(:no), attribute: 'no'
  
    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'name' do |purchase|
        purchase.business.try :name
    end
  
    
    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: Purchase::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |purchase| 
      purchase.status_name

    end



    g.column do |purchase|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase), :class => 'btn btn-xs btn-primary' if can? :update, purchase) << ' ' <<
      (link_to t('.purchase_details', :default => t("helpers.links.purchase_details")),purchase_purchase_details_path(purchase), :class => 'btn btn-xs btn-info' if can? :purchase_detail, purchase) << ' ' <<
      (link_to t('.stock_in_purchase', :default => t("helpers.links.stock_in_purchase")), stock_in_purchase_path(purchase), method: :get, :class => 'btn btn-xs btn-primary' if can? :stock_in, purchase) << ' ' <<
      # (link_to t('.check_purchase', :default => t("helpers.links.check_purchase")), check_purchase_path(purchase), method: :patch, :class => 'btn btn-xs btn-primary' if can? :check, purchase) << ' ' <<
      (link_to t('.scan', :default => '逐件扫描'), scan_purchase_path(purchase), :method => :get, :class => 'btn btn-xs btn-primary' if can? :update, purchase) << ' ' <<
      (link_to t('.close_purchase', :default => t("helpers.links.close_purchase")), close_purchase_path(purchase), method: :patch, :class => 'btn btn-xs btn-primary' if can? :close, purchase) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(purchase), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, purchase)

    end
  end 
%>