<%- model_class = Specification -%>
<div class="page-header">
  <h1><%=@commodity.name%>--<%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Specification %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_commodity_specification_path(@commodity),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@specifications_grid) do |g|

    g.column name: model_class.human_attribute_name(:commodity_id), attribute: 'name', model: 'Commodity' do |specification|
      specification.commodity.try :name
    end

    g.column name: model_class.human_attribute_name(:sku), attribute: 'sku'

    g.column name: model_class.human_attribute_name(:sixnine_code), attribute: 'sixnine_code'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:long), attribute: 'long'

    g.column name: model_class.human_attribute_name(:wide), attribute: 'wide'

    g.column name: model_class.human_attribute_name(:high), attribute: 'high'

    g.column name: model_class.human_attribute_name(:weight), attribute: 'weight'

    g.column name: model_class.human_attribute_name(:volume), attribute: 'volume'

    g.column do |specification|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_commodity_specification_path(@commodity,specification), :class => 'btn btn-xs btn-primary' if can? :update, specification) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), commodity_specification_path(@commodity,specification), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, specification) << ' ' <<
        (link_to t('.inoutlogs', :default => t("helpers.links.inoutlogs")), inoutlogs_commodity_specification_path(@commodity,specification), :class => 'btn btn-xs btn-primary', target: '_blank',:method => "get")
    end
  end 
%>