<%- model_class = ConsumableStock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, ConsumableStock %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_consumable_stock_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@consumable_stocks_grid) do |g|

    g.column name: model_class.human_attribute_name(:consumable_id), attribute: 'name', model: 'Consumable' do |consumable_stock|
      consumable_stock.consumable.try :name
    end

    g.column name: model_class.human_attribute_name(:shelf_name), attribute: 'shelf_name'

    g.column name: model_class.human_attribute_name(:amount), attribute: 'amount'

    g.column name: model_class.human_attribute_name(:unit_id), attribute: 'name', model: 'Unit' do |consumable_stock|
      consumable_stock.unit.try :name
    end

    g.column name: model_class.human_attribute_name(:storage_id), attribute: 'name', model: 'Storage' do |consumable_stock|
      consumable_stock.storage.try :name
    end
 
    

    g.column do |consumable_stock|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.modconsumablestocks', :default => t("helpers.links.modconsumablestocks")), modconsumablestocks_consumable_stocks_path(consumable_stock), :class => 'btn btn-xs btn-primary' if can? :modconsumablestocks, consumable_stock)
    end
  end 
%>