<%- model_class = Area -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Area %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_area_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@areas_grid) do |g|

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:area_code), attribute: 'area_code'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:area_type), attribute: 'area_type',custom_filter: Area::AREA_TYPE.invert do |area| 
      area.area_type_name
    end

    g.column do |area|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_area_path(area), :class => 'btn btn-xs btn-primary' if can? :update, area) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), area_path(area), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, area) << ' ' <<
        (link_to t('.shelves', :default => t("helpers.links.shelves")), area_shelves_path(area), :class => 'btn btn-xs btn-primary' if can? :update, area)
        (link_to t('打印该区域所有货架条码'), "/print/areabarcodeprint?sid=#{area.id}", target: '_blank',:class => 'btn btn-xs btn-primary')
    end
  end 
%>
