<%- model_class = Role -%>
<div class="page-header">
  <h1><%=@storage.name%>--<%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Role %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_storage_role_path(@storage),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@storageroles_grid) do |g|

    g.column name: model_class.human_attribute_name(:user_id), attribute: 'name', model: 'User' do |role|
      role.user.try :name
    end

    g.column name: model_class.human_attribute_name(:storage_id), attribute: 'name',model: 'Storage' do |role|
      role.storage.try :name
    end

    g.column name: model_class.human_attribute_name(:role), attribute: 'role',custom_filter: Role::ROLE.invert  do |role|
      Role::ROLE.fetch(role.role.to_sym)
    end

    g.column do |role|
      (link_to t('.destroy', :default => t("helpers.links.destroy")), storage_role_path(@storage,role), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, role)
    end
  end 
%>
