<%- model_class = ManualStock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, ManualStock %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  manual_stock_import_manual_stocks_path,
                  :class => 'btn btn-primary' %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_manual_stock_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@manual_stocks_grid) do |g|
    g.column name: model_class.human_attribute_name(:no), attribute: 'no'
  
    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'name' do |manual_sotck|
        manual_sotck.business.try :name
    end

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: ManualStock::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |manual_sotck| 
      manual_sotck.status_name

    end

    g.column do |manual_stock|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")), edit_manual_stock_path(manual_stock), :class => 'btn btn-xs btn-primary' if can? :update, manual_stock) << ' ' <<
      (link_to t('.manual_stock_details', :default => t("helpers.links.manual_stock_details")),manual_stock_manual_stock_details_path(manual_stock), :class => 'btn btn-xs btn-info' if can? :manual_stock_detail, manual_stock) << ' ' <<
      (link_to t('.stock_out_manual_stock', :default => t("helpers.links.stock_out_manual_stock")), stock_out_manual_stock_path(manual_stock), method: :get, :class => 'btn btn-xs btn-primary' if can? :stock_out, manual_stock) << ' ' <<
      (link_to t('.check_manual_stock', :default => t("helpers.links.check_manual_stock")), check_manual_stock_path(manual_stock), method: :patch, :class => 'btn btn-xs btn-primary' if can? :check, manual_stock) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")), manual_stock_path(manual_stock), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, manual_stock)
    end
  end 
%>
