<%- model_class = Goodstype -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
 <div style="float:right">
    <% if can? :new, Goodstype %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_goodstype_path,
            :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= grid(@goodstypes, :show_filters => :always) do |g|

    g.column name: model_class.human_attribute_name(:id), attribute: 'id', filter_type: :range

    g.column name: model_class.human_attribute_name(:gtno), attribute: 'gtno'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name',custom_filter: Goodstype.accessible_by(current_ability).collect{|g| g.name}

    g.column do |goodstype|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_goodstype_path(goodstype), :class => 'btn btn-xs btn-primary' if can? :update, goodstype) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")),
                      goodstype_path(goodstype),
                      :method => :delete,
                      :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, goodstype)
      end
  end 
%>

        


