<%- model_class = Storage -%>
<div class="page-header">
  <h1><%=@unit.name%>--<%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Storage %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_unit_storage_path(@unit),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@storages_grid) do |g|

    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column name: model_class.human_attribute_name(:address), attribute: 'address'
    g.column name: model_class.human_attribute_name(:phone), attribute: 'phone'
    g.column name: model_class.human_attribute_name(:postcode), attribute: 'postcode'
    g.column name: model_class.human_attribute_name(:tcbd_product_no), attribute: 'tcbd_product_no'

    g.column name: model_class.human_attribute_name(:default_storage), attribute: 'default_storage',filter_type: :boolean do |storage| 
      storage.default_type_name
    end

    g.column do |storage|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_unit_storage_path(@unit,storage), :class => 'btn btn-xs btn-primary' if can? :update, storage) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), unit_storage_path(@unit,storage), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, storage)<< ' ' <<
        (link_to t('.roles', :default => t("helpers.links.roles")), storage_roles_path(storage), :class => 'btn btn-xs btn-primary' if can? :roles, storage)
    end
  end 
%>